.c-hero {
  background-size: cover;
  text-align: center;
  padding: $inuit-global-spacing-unit-huge 0;
}

.c-column-overlay {
  position: relative;
  &__image {
    @include mq($from: tablet) {
      position: absolute;
      top: $inuit-global-spacing-unit-large;
      bottom: $inuit-global-spacing-unit-large;
      left: 0;
      right: 0;
      background: var(--bg-image);
      background-size: cover;
    }
  }
  &__content {
    position: relative;
    z-index: 1;
    h1 {
      color: white;
    }
    background: #333;
    color: #fff;
    padding: $inuit-global-spacing-unit;
    @include mq($from: tablet) {
      margin-left: $inuit-global-spacing-unit-large;
      width: 40%;
    }
  }
}