.c-consulting-services{
}

.l-consulting-service{
  @include mq($from: tablet) {
    display: grid;
    grid-template-columns: minmax(20vw, 320px) 1fr;
    gap: $inuit-global-spacing-unit-large;
  }
}
.c-consulting-service{
  display: flex;
  flex-direction: column;
  margin-bottom: $inuit-global-spacing-unit-large;
  align-items: center;
  @include mq($from: tablet) {
    flex-direction: row;
  }
  &__title{
    text-align: center;
  }
  &__content{
    flex:1;
    @include mq($from: tablet) {
      margin: 0;
    }
  }
  &__image{
    text-align: center;
    img{
      width:250px;
      height:250px;
      border-radius: 9999rem;
      overflow: hidden;
      margin: 0;
    }
  }
}