.c-massage{
  margin: $inuit-global-spacing-unit-large 0;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  padding: $inuit-global-spacing-unit;
  &__title{
    text-align: center;
  }
  &__description{
    //font-size: $inuit-font-size-h4;
  }
  img{
    width: 100%;
  }
}