.c-consulting-services{
}
.c-consulting-service{
  display: flex;
  flex-direction: column;
  margin-bottom: $inuit-global-spacing-unit-large;
  align-items: center;
  text-align: center;
  @include mq($from: tablet) {
    flex-direction: row;
  }
  &__content{
    flex:1;
    @include mq($from: tablet) {
      margin: 0;
    }
  }
  &__image{
    width:250px;
    height:250px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    margin-bottom: $inuit-global-spacing-unit;
    @include mq($from: tablet) {
      margin-right: $inuit-global-spacing-unit;
    }
    img{
      width: auto;
      height: auto;
      margin: 0px;
    }
  }
}