.c-prices{
  //border : 1px solid #dedede;
  //box-shadow: 0 4px 6px 0 hsla(0,0,0,.2);
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);

  &__item{
    border-bottom : 1px solid rgba(0,0,0,0.2);
    &:last-child{
      border-bottom : 0;
    }
  }
}

.c-price{
  padding-bottom: $inuit-global-spacing-unit-small;
  @include mq($from: tablet){
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $inuit-global-spacing-unit;
  }
  &__title{
    @include mq($from: tablet) {
      text-align: left;
    }
  }
  &__description{
    box-sizing: content-box;
    p{
      margin: 0;
    }
  }
  &__duration{
    color: #555555;
    //font-size: $inuit-font-size-h2;
  }
  &__meta{
    flex-shrink: 0;
  }
  &__price{
    color:#d3ab55;
    font-weight: 800;
    //font-size: $inuit-font-size-h2;
  }
}

