.c-workshops {
  background: url('../img/index_bg.jpg');
  background-size: cover;
  overflow: hidden;
  &__content {
    background: white;
    border: 1px solid darken(white, 20%);
    margin: $inuit-global-spacing-unit;
    padding: $inuit-global-spacing-unit;
    @include mq($from: tablet){
      margin: $inuit-global-spacing-unit-large;
      padding: $inuit-global-spacing-unit-large;
    }
    @include mq($from: desktop){
      margin: $inuit-global-spacing-unit-huge;
    }
  }
}

.c-workshop{
  padding-left: $inuit-global-spacing-unit-large;
  position: relative;
  &:before{
    content : "";
    position: absolute;
    left:$inuit-global-spacing-unit-large / 2;
    top:1em;
    border-radius: 999px;
    background: lighten(#555,5%);
    width: .5em;
    height: .5em;
    transform: translate(-50%,0);
  }
}