.c-contact {
  background: #333;
  &__wrapper {
    background: #333 var(--bg-image) no-repeat;
    background-blend-mode: lighten;
    overflow: hidden;
    padding-top: 400px;
    background-size: 300px;
    background-position: top center;
    @include mq($from: tablet) {
      padding-top: 0;
      background-position: center right;
      background-size: auto 100%;
    }
  }
  &__content {
    background: white;
    margin: $inuit-global-spacing-unit
  }
}

.c-credentials{
  background: url("../img/svg/bgbottom.svg") no-repeat;
  background-size: 100% 50%;
  background-position: center bottom;
  text-align: center;
  &__logo{
    width: 10rem;
    margin-bottom: $inuit-global-spacing-unit;
  }
}