<div class="o-wrapper u-padding-vertical-large">
    <h1>{{page.title}}</h1>
    <div>
        {{page.description | markdownify}}
    </div>

    <ul class="u-padding-vertical-large o-list-bare c-consulting-services">
        {%for service in page.services%}
        <li class="o-list-bare__item">
            <div class="c-consulting-service">
                <div class="c-consulting-service__image">
                    {%include cloudinary.html path=service.photo alt=service.title options="w_250,h_250,c_fill,g_face,f_auto" %}
                </div>
                <div class="c-consulting-service__content">
                    <h3>{{service.title}}</h3>
                    <div class="">
                        <div class="c-service__description">{{service.description | markdownify}}</div>
                        <div class="c-service__prices">
                            {% include prices.html prices=service.prices %}
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {%endfor%}
    </ul>
</div>