<div class="c-contact">
    <div class="c-contact__wrapper o-wrapper">
        <div class="c-contact__content u-padding u-1/2@tablet">
            <h1>{{page.title}}</h1>
            <div>{{page.introduction | markdownify}}</div>
        </div>
    </div>
</div>

<div class="c-credentials">
    <div class="o-wrapper">
        <div class="u-padding-vertical-large">
            <img src="/assets/img/svg/logo.svg" alt="" class="c-credentials__logo">
            <h3>{{page.subtitle}}</h3>
            <div>{{page.contact | markdownify}}</div>
        </div>
    </div>
</div>


