<div class="c-workshops">
    <div class="o-wrapper u-padding-vertical-huge">
        <div class="c-workshops__content u-padding-large u-margin-horizontal-huge">
        <h1>{{page.title}}</h1>
        <ul>
            {% for workshop in page.workshops %}
            <li class="u-margin-bottom">
                <h4>{{workshop.title}}</h4>
                <div>{{workshop.description}}</div>
            </li>
            {% endfor %}
        </ul>

        {% include prices.html prices=page.prices%}
        </div>
    </div>
</div>