<ul class="o-list-bare u-margin-top c-prices">
    {%for price in include.prices%}
    <li class="o-list-bare__item c-prices__item c-price">
        <h4 class="o-flex-layout__item u-padding-small u-margin-none c-price__title">
            {{price.description}}</h4>
        <div class="c-price__meta">
            {% if (price.duration) %}
            <span class="u-padding-small c-price__duration">
                <img src="/assets/img/svg/watch.svg" alt=""/>
                <span>{{price.duration}}</span>
            </span>&nbsp;-&nbsp;
            {% endif %}
            <span class="u-padding-small c-price__price">{{price.price}}</span>
        </div>
    </li>
    {%endfor%}
</ul>
