.c-contact {
  background: #333;
  &__wrapper {
    background: #333 url('../img/emilie_contact.png') no-repeat;
    background-blend-mode: lighten;
    overflow: hidden;
    padding-top: 400px;
    background-size: 300px;
    background-position: top center;
    @include mq($from: tablet) {
      padding-top: 0;
      background-position: center right;
      background-size: auto 100%;
    }
  }
  &__content {
    background: white;
    margin: $inuit-global-spacing-unit
  }
}