.c-home-links{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include mq($from: tablet){
    flex-wrap: nowrap;
  }
}
.c-home-link{
  flex-grow:1;
  width: 50%;
  background: white;
  @include mq($until: tablet) {
    width: 50%;
  }
  img{
    width: 100%;
  }
}