.c-split {
  &__wrapper {
    background: #e9e8e6;
    @include mq($from: tablet) {
      background: #e9e8e6 url("../img/aloe.jpg") no-repeat;
      background-position: bottom right;
      background-size: cover;
    }

  }
}