.c-menu {
  background: white;
  text-align: center;
  &__link {
    @include mq($from: tablet) {
      padding: $inuit-global-spacing-unit-small;
      display: inline-block;
      text-decoration: none;
      color: #cc8776;
    }
    &.active{
      color: #222222;
    }
  }
}
.c-scroll-menu {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate(0, -100%);
  transition: all .3s ease-out;
  &.scroll {
    transform: translate(0, 0);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  }
}
