@font-face {
  font-family: 'Soria-Soria';
  src:url('/assets/Soria-Soria.ttf.woff') format('woff'),
  url('/assets/Soria-Soria.ttf.svg#Soria-Soria') format('svg'),
  url('/assets/Soria-Soria.ttf.eot'),
  url('/assets/Soria-Soria.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

$inuit-font-size-h1: 36px !default;
$inuit-font-size-h2: 28px !default;
$inuit-font-size-h3: 24px !default;
$inuit-font-size-h4: 20px !default;
$inuit-font-size-h5: 18px !default;
$inuit-font-size-h6: 16px !default;

$min_width: 320px;
$max_width: 1200px;

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

$min_font: 16px;
$max_font: 24px;

a{
  color: #00687A;
}

html, body{
  font-size: $mod_1*1rem;
  font-family: 'Playfair Display', serif;
  color: #555;
  @include fluid-type($min_width, $max_width, $mod_1*$min_font, $mod_2 *$min_font);
}
h1, h2, h3,h4 {
  font-family: 'Soria-Soria', serif;
  color: #333;
  font-weight: 500;
}

h1 {

  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
  line-height: 1.1em;
  margin-bottom: 1em;
  &:after {
    background: #CC8776;
    content: '';
    display: block;
    height: 2px;
    margin: .9em 0;
    width: 50px;
  }
}

h2 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h3 {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
  &:after {
    background: #CC8776;
    content: '';
    display: block;
    height: 2px;
    margin: .9em 0;
    width: 1em;
    position: relative;
    left:50%;
    transform: translateX(-50%);
  }
}

h4 {
  font-size: $mod_1*1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$min_font, $mod_2 *$min_font);
}
