@font-face {
  font-family: 'Soria-Soria';
  src:url('/assets/Soria-Soria.ttf.woff') format('woff'),
  url('/assets/Soria-Soria.ttf.svg#Soria-Soria') format('svg'),
  url('/assets/Soria-Soria.ttf.eot'),
  url('/assets/Soria-Soria.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html, body{
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #555;
  line-height: 28px;
}
h1, h2, h3,h4 {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
}